.row{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-image:url(../../../assets/banner.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
  }
  h1{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  color:#fff;
  font-size:55px;
  z-index:2;
  font-family:ITC Benguiat;
  max-width:450px;
  }
  h1:hover{
  animation: neon1 1.5s ease-in-out infinite alternate; 
  }
  @keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF1177,
               0 0 70px  #FF1177,
               0 0 80px  #FF1177,
               0 0 100px #FF1177,
               0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
  }
  }
  @media (max-width:850px){
    h1{
      font-size:50px;
    }
    }
    @media (max-width:770px){
    h1{
      font-size:45px;
    }
    }
    @media (max-width:695px){
    h1{
      font-size:40px;
    }
    }
    @media (max-width:620px){
    h1{
      font-size:35px;
    }
    }
    @media (max-width:545px){
    h1{
      font-size:30px;
    }
    }
    @media (max-width:465px){
    h1{
      font-size:25px;
    }
    }
    @media (max-width:390px){
    h1{
      font-size:20px;
    }
    }