.row{
    margin:0;
    padding:0;
    background: black;
    width:100vw;
    height:100vh;
    color:white;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
  width:350px;
  height:420px;
}
.form-group input{
   background-color:transparent;
   outline: none;
   color:#fff;
   margin-bottom: 20px;
}
.botones{
    display:flex;
}
.update{
    display: flex;
    justify-content: center;
    margin-right: 15px;
}
.form-group input:focus{
    outline: none;
    background: transparent;
    color:#fff;
    box-shadow:none;
    border:1px solid #fff;
}
