<div class="row">
    <div class="title">
        <h1 id="skills">MY SKILLS</h1>
    </div>
    <div class="container">
        <div class="card">
            <div class="percent" style="--clr:#f01223;--num:85;">
                <div class="dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                <div class="number">
                    <h2>85<span>%</span></h2>
                    <img src="../../../assets/html.png">
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="percent" style="--clr: #f01223;--num:80;">
                <div class="dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                <div class="number">
                    <h2>80<span>%</span></h2>
                    <img src="../../../assets/css.png">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr: #f01223;--num:60;">
                <div class="dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                <div class="number">
                    <h2>60<span>%</span></h2>
                    <img src="../../../assets/js.png">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr: #f01223;--num:70;">
                <div class="dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                <div class="number">
                    <h2>70<span>%</span></h2>
                    <img src="../../../assets/angular.png">
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="percent" style="--clr:#f01223;--num:0;">
                <div class="dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                <div class="number">
                    <h2>0<span>%</span></h2>
                    <img src="../../../assets/mysql.png">
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="percent" style="--clr:#f01223;--num:0;">
                <div class="dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                <div class="number">
                    <h2>0<span>%</span></h2>
                    <img src="../../../assets/java.png" id="java">
                </div>
            </div>
        </div>
    </div>
</div>