.row{
    display:flex;
    background: black;
    color:white;
    width:100vw;
    font-family: ITC Benguiat;
    margin:0;
    padding:0;
}
td{
    color:#fff;
}
.container{
    display: flex;
    flex-direction: column;
}
.timeline{
    display: flex;
}
.timeline__item{
    position:relative;
    padding-left:3rem;
    margin-bottom:20px;
}
.timeline__item:last-child{
    margin-bottom:0;
}
.timeline__item::before{
    content:"";
    width:1px;
    position:absolute;
    left:.48rem;
    top:0;
    height:100%;
    background-color:red;
}
.circle__dot{
    position:absolute;
    left:0;
    top:0;
    height:1rem;
    width:1rem;
    border:2px solid red;
    border-radius:50%;
    background-color: red;
    transition: .3s;
}
.timeline__item:hover .circle__dot{
    box-shadow:0 0 10px red,
    0 0 30px red;
}
.timeline__date{
    color:Red;
}
#experience:before {       
    display: block;       
    content: " ";     
    margin-top: 0px;       
    height: 120px;       
    visibility: hidden; 
} 
h3{
    font-size:19px;
}
.btn-danger{
    margin:10px;
}
.botones{
    display:flex;
    align-items: center;
    margin-left: 10px;
}
.btn-light{
    margin-bottom: 10px;
}
@media (max-width:280px){
    .btn-danger{
        margin:2px;
    }
}