<div class="row">
    <div>
        <h1 id="about">ABOUT ME</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 boton">
        <button type="button" class="btn btn-danger" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar persona
        </button>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 cont">
            <img src={{persona.img}} id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 cont2">
            <h2>I'M {{persona.nombre}} {{persona.apellido}}</h2>
            <h3>{{persona.ocupacion}}</h3>
            <p>{{persona.descripcion}}</p>
        </div>
    </div>
</div>

