<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cont">
        <div class="education">
            <h1 class="qualification__title" id="experience">
                <i class="fa fa-graduation-cap">&#160;</i>Education
            </h1>
            <div class="timeline">
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline-title">Instituto Placido Marin</h3>
                    <p class="timeline-text">Bachiller en Administración Contable Informatizada</p>
                    <span class="timeline__date"><i class="fa fa-calendar"></i>
                    2004 - 2008
                    </span>
                </div>
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline-title">UBA - Facultad de Ciencias Económicas</h3>
                    <p class="timeline-text">Contador Público</p>
                    <span class="timeline__date"><i class="fa fa-calendar"></i>
                    2009 - 2010 - 2018
                    </span>
                </div>
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline-title">UBA - Facultad de Ciencias Económicas</h3>
                    <p class="timeline-text">Lic. en Sistemas de Información</p>
                    <span class="timeline__date"><i class="fa fa-calendar"></i>
                    2011 - 2012 - 2013
                    </span>
                </div>
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline-title">Mumuki</h3>
                    <p class="timeline-text">Intro a JavaScript y Ruby</p>
                    <span class="timeline__date"><i class="fa fa-calendar"></i>
                    Febrero - Marzo 2022
                    </span>
                </div>
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline-title">INTI</h3>
                    <p class="timeline-text">Full Stack Developer Jr</p>
                    <span class="timeline__date"><i class="fa fa-calendar"></i>
                    Junio 2022 - Enero 2023
                    </span>
                </div>
            </div>
        </div>
    </div>
      
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cont2">
        <div class="experience">
            <h1 class="qualification__title" id="experience">
            <i class="fa fa-suitcase">&#160;</i>Experience
            </h1>
            <div class="timeline">
                <div class="timeline__item">
                <div class="circle__dot"></div>
                <h3 class="timeline-title">Taller de Costura</h3>
                <p class="timeline-text">Empleada</p>
                <span class="timeline__date"><i class="fa fa-calendar"></i>
                2014 - 2021
                </span>
            </div>
        </div>
    </div>
</div>
  
  

    