<div class="row">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="inputBox">
                <input type="email" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required>
                <span>User</span>
            </div>
            <div class="inputBox">
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
                <span>Password</span>
            </div>
            <input type="submit" name="" value="Login">
        </form>
</div>