.row{
    width:100vw;
}
.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0;
    position:fixed;
    height:75px;
    z-index:3;
    background-color:black;
}
.redes {
    display:flex;
}
#btn-menu{
    display:none;
}
.menu{
    margin-left:20px;
    filter:invert(1);
    margin-top:0;
}
.menu i{
   font-size:30px;
}
label:hover{
    cursor:pointer;
}
.btn{
    margin-right:5px;
    margin-left:5px;
    font-family: ITC Benguiat;
}
.btn:hover{
    color: red;
    background-color:transparent;
    border-color:red;
}
.container-menu{
    position:absolute;
    background:rgba(0,0,0,0.5);
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    transition:all 500ms ease;
    opacity:0;
    visibility:hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity:1;
    visibility:visible;
}
.cont-menu{
    width:100%;
    max-width:250px;
    background:black;
    height:100vh;
    position:relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display:block;
    text-decoration: none;
    padding:20px;
    color:white;
    font-family: ITC Benguiat;
    transition: all 400ms ease;
}
.cont-menu label{
    position:absolute;
    right:10px;
    top:10px;
    filter:invert(1);
    cursor:pointer;
}
ul{
    list-style:none;
}
.cont-menu nav a:hover{
    color:red;
}
.redes a{
    display:flex;
    width:40px;
    height:40px;
    font-size:22px;
    color:#fff;
    border-radius:50%;
    border:1px solid #fff;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.redes a:hover{
    color:red;
    border-color:red;
}
.cont{
    display:flex;
    align-items: center;
    justify-content: center;
}
#ap{
    width:120px;
    height:70px;
    margin-top:0;
}
.fa-navicon{
    margin-left:10px;
}
@media (max-width:395px){
    .redes a{
        width:30px;
        height:30px;
        margin-top:5px;
    }
}
@media (max-width:365px){
    .btn{
        width:60px;
        height:30px;
        margin-top:5px;
        padding-left:5px;
        padding-top:2px;
    }
}




