<div class="proyectos">
    <h1 id="projects">MY PROJECTS</h1>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 boton">
        <button type="button" class="btn btn-light" routerLink="/nuevoproyecto" *ngIf="isLogged">
        Agregar Proyecto
        </button>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 proy" *ngFor="let Proyecto of proyecto">
                <div class="proyecto">
                    <img id="imagenProyecto" src={{Proyecto.imgProy}}>
                    <div class="info">
                        <h2>{{Proyecto.nombreProy}}</h2>
                        <p>{{Proyecto.descProy}}</p>
                    </div>
                </div>
                <div class="botones">        
                    <div *ngIf="isLogged" class="btn-edit">
                        <button class="btn btn-secondary" routerLink="/editproyecto/{{Proyecto.id}}">
                            <i class="bi bi-pencil"></i></button>
                    </div>
                    <div *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash"></i></button>
                    </div>
                </div>
        </div>
    </div>
</div>
