<div class="row">
    <div class="form">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombreProy">Nombre del proyecto</label>
                <input type="text" class="form-control" id="nombreProy" name="nombreProy" [(ngModel)] = "nombreProy" required>
            </div>
            <div class="form-group">
                <label for="descProy">Descripción del proyecto</label>
                <input type="text" class="form-control" id="descProy" name="descProy" [(ngModel)] = "descProy" required>
            </div>
            <div class="add">
                <button class="btn btn-danger">
                    Agregar proyecto
                </button>
            </div>
        </form>
    </div>
</div>
