<div class="row">
    <div class="title">
        <h1 id="skills">MY SKILLS</h1>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 boton">
        <button type="button" routerLink="/newskill" class="btn btn-danger" *ngIf="isLogged">Agregar Skill</button>
    </div>
    <div class="container">
        <div class="card" *ngFor="let skill of skill">
            <div class="percent" style="--clr:#f01223;--num:{{skill.porcentaje}};">
                <div class="dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                <div class="number">
                    <h2>{{skill.porcentaje}}<span>%</span></h2>
                    <p>{{skill.nombre}}</p>
                </div>
            </div>
            <div>
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" routerLink="/editskill/{{skill.id}}">
                        <i class="bi bi-pencil"></i></button>
                </td>
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(skill.id)">
                        <i class="bi bi-trash"></i></button>
                </td>
            </div>
        </div>
    </div>
</div>