.row{
    background-color: black;
    color:white;
    width:100vw;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
}
.boton{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display:flex;
}
.cont2{
  margin-left: 20px;
}
.cont{
  display:flex;
  justify-content: flex-end;
}
h1{
    text-align: center;
    color:#fff;
}
#fotodeperfil{
  max-width:300px;
  max-height:300px;
}
#about:before {       
    display: block;       
    content: " ";     
    margin-top: 0;       
    height: 120px;       
    visibility: hidden; 
} 
@media (max-width:767px){
  .container{
    flex-direction: column;
  }
  .cont{
    display:flex;
    justify-content: center;
    align-items:center;
  }
  .cont2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #fotodeperfil{
    margin-top:50px;
    width:200px;
    height:280px;
    margin-bottom:50px;
  }
}
#email{
  text-decoration: none;
  color:#fff;
}
#email:hover{
  color:#f00;
}
@media (max-width:380px){
  h3{
    font-size:20px;
  }
}
@media (max-width:280px){
  #email{
    font-size: 13px;
  }
}





