<div class="row">
    <div>
        <h1 id="about">ABOUT ME</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 boton">
        <button type="button" class="btn btn-light" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar persona
        </button>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 cont">
            <img src={{persona.img}} id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 cont2">
            <h2>{{persona.nombre}} {{persona.apellido}}</h2>
            <h3>{{persona.titulo}}</h3>
            <p>{{persona.descripcion}}</p>
            <p id="contacto">Contacto:</p>
            <p><a href="mailto:{{persona.email}}" id="email"><i class="fa fa-envelope-o"></i> {{persona.email}}</a></p>
        </div>
    </div>
</div>

