.row{
    width:100vw;
    margin:0;
    padding:0;
}
.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    height:75px;
    z-index:3;
    background-color:transparent;
}
.redes {
    display:flex;
}
#btn-menu{
    display:none;
}
.menu{
    filter:invert(1);
    margin-top:0;
}
.menu i{
   font-size:30px;
}
label:hover{
    cursor:pointer;
}
.btn{
    margin-right:3px;
    margin-left:5px;
    font-family: ITC Benguiat;
}
.btn:hover{
    color: red;
    background-color:transparent;
    border-color:red;
}
.container-menu{
    position:absolute;
    background:rgba(0,0,0,0.5);
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    transition:all 500ms ease;
    opacity:0;
    visibility:hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity:1;
    visibility:visible;
}
.cont-menu{
    width:100%;
    max-width:250px;
    background:black;
    height:100vh;
    position:relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display:block;
    text-decoration: none;
    padding:20px;
    color:white;
    font-family: ITC Benguiat;
    transition: all 400ms ease;
}
.cont-menu label{
    position:absolute;
    right:10px;
    top:10px;
    filter:invert(1);
    cursor:pointer;
}
ul{
    list-style:none;
}
.cont-menu nav a:hover{
    color:red;
}
.redes a{
    display:flex;
    width:40px;
    height:40px;
    font-size:22px;
    color:#fff;
    border-radius:50%;
    border:1px solid #fff;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.redes a:hover{
    color:red;
    border-color:red;
}
.cont{
    display:flex;
    align-items: center;
    justify-content: center;
}
.p1{
    width:30px;
    height:25px;
    background-color: transparent;
    border:1px solid white;
    border-radius:10%;
    padding-left:5px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 800;
}
a{
    text-decoration: none;
    color:white;
    display:flex;
}
h1{
    font-size:11px;
    line-height: 0;
    margin-left:10px;
    margin-top:5px;
}
h1 p{
    font-family: sans-serif !important;
    font-weight: bold;
}
a:hover p{
    color:red;
}
a:hover .p1{
    border-color:red;
    background-color: transparent;
}

#ap{
    margin-left:10px;
    margin-top:20px;
}
@media (max-width:395px){
    .redes a{
        width:30px;
        height:30px;
        margin-top:5px;
        margin-right:2px;
        margin-left:2px;
    }
}
@media (max-width:365px){
    .btn{
        width:50px;
        height:30px;
        margin-top:5px;
        padding-left:5px;
        padding-right:5px;
        padding-top:2px;
        font-size: 10px;
    }
}
@media (max-width:280px){
    .redes a{
        border: none;
        width: 20px;
        height: 25px;
    }
    h1{
        font-size: 10px;
    }
    .login{
        margin-right: 0;
    }
}



